# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
ENV/
env/

# IDE/Editor specific files
.vscode/
*.sublime-project
*.sublime-workspace
*.idea/
*.egg-info/
*.egg

# Logs and databases
*.log
*.sqlite3
*.db

# Compiled Python files
*.pyc
*.pyo
*.pyd

# macOS specific files
.DS_Store

# Windows specific files
Thumbs.db
